*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    /* overflow-x: hidden; */
}


.home{
    height: 130vh;
    width: 100vw;
    background: url(Images/bg-img.jpg) no-repeat center;
    background-size: cover;
}

header{
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 65px;
    background-color: #030c16;
    display: flex;
    justify-content: space-around;
    z-index: 999;
}

.logo{
    padding: 20px;
}

.menu ul li{
    display: inline-block;
    padding: 20px 14px;
    font-size: 16px;
    cursor: pointer;
}

.phone{
    padding: 20px 14px;
    display: flex;
}

.phone i{
    padding-right: 15px;
}


.hero{
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.hero .intro{
    align-items: center;
    padding: 80px 100px;
    width: 55vw;

}
.intro h2{
    color: #fec544;
    font-size: 28px;
}
.intro h1{
    font-size: 80px;
}
.intro h3{
    color: #a9adb8;
    font-size: 34px;
}
.hireBtn{
    color:black;
    background-color: #fec544;
    border-radius: 25px;
    padding: 15px 50px;
    margin-top: 26px;
    border: none;
    
}



.ProfileImg {
    position: relative;
    overflow: hidden;
    right: 2%;
}

.ProfileImg img {
    max-width: 100%; 
    max-height: 178vh;
    object-fit: cover;
    position: relative;
    transform: translateX(0%);
    transition: transform 0.5s ease-out; 
    z-index: 1;
}




/* Ensure the social group is positioned relative to the profile image */
.st-social-group{
    background-color: #101624;
    border: 1px solid #232935;
    border-radius: 50px 0 0 50px;
    position: absolute; /* Absolute positioning within the ProfileImg container */
    left: 12%; /* Aligns it closely to the hero image */
    bottom: 40px; /* Anchors it to the bottom */
    width: 40vw; /* Allows it to adjust based on content */
    height: 80px;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-out;
    overflow: hidden;
    box-sizing: border-box;

}

.socialLink {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}


.socialBtn i{
    padding: 0px 7px;
    color: #a9adb8;
    font-size: 25px;
}
.socialBtn {   
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px; 
    border-radius: 50px;
    background-color: #070d1b;
    border: 0.5px solid #3f4551;
    width: 55px; 
    height: 55px; 
    justify-content: space-around;
    transition: width 0.4s ease; 
    text-decoration: none;
}
.iconName{
    position: relative;
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.4s ease-in-out; 
    font-size: 17px;
}

/* Hover and active states */
.socialBtn:hover .iconName,
.socialBtn.active .iconName {
    display: inline-block;
    opacity: 1; 
    position: relative;
}

.socialBtn.active,
.socialBtn:hover {
    width: 130px;
}

.aboutSection {
    position: relative; /* Make sure both sections are positioned relative to their containers */
    background-color: #101624;
    height: auto;
    padding-bottom: 40px;
}

.bigHeading {
    text-align: center;
    font-size: 100px;
    color: rgba(28, 34, 48, 0.5);
    position: relative;
    z-index: 1; /* Ensure it is behind the small heading */
}

.smallHeading {
    position: relative; /* Allow it to overlap the big heading */
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fec544;
    letter-spacing: 1px;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%); /* Center the heading */
    z-index: 2; /* Ensure it overlaps the big heading */
}


/* .smallHeading{
    position: relative;
    bottom: 17%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fec544;
    position: relative;
    z-index: 10;
    letter-spacing: 1px;
} */
.smallHeading::before{
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 170px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}
.smallHeading::after{
    content: "";
    position: absolute;
    background-color: #fec544;
    width: 70px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}


.aboutInfo{
    display: flex;
}

.aboutImg img{
    width: 40vw;
    height: 100vh;
}

.aboutData{
    width: 70%;
    position: relative;
    left: 30px;
}

.aboutData h3{
    color: #fec544;
}

.aboutData p{
    font-size: 18px;
    color: #a9adb8;
}
.aboutData table tr td{
    font-size: 18px;
    color: #a9adb8;
    gap: 15px;
    padding: 7px;
}

.myCV{
    color:black;
    background-color: #fec544;
    border-radius: 25px;
    padding: 15px 40px;
    margin-top: 26px;
    border: none;
}


/* -------------------------------------- */

.servicesSection{
    width: 100%;
    padding: 40px 0px;
    background-color: #030c16;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #a9adb8;
}

.box1{
    text-align: center;
    padding: 50px 50px;
    border-radius: 3px;
    transition: all 0.4s ease;
    border: 1px solid #232935;
    background-color: #101624;
    margin: 10px;
    box-sizing: border-box;
}
.box1 p{
    color: #a9adb8;
}

.icon-box, .icon-box img{
    height: 60px;
}

/* -------------------------------------- */


.skillSection{
    background-color: #101624;
}

.skillInfo{
    height: auto;
    
}

.skillContainer{
    display: flex;
}

.progressbar{
    margin: 0 auto;
}
.singleProgressbar{
    margin-bottom: 20px;
}
.headingProgressbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.headingProgressbar h4 {
    color: white;
    margin: 0;
    font-weight: bold;
}

.progressbarPercentage {
    color: white;
    font-weight: bold;
}

.linePercentage {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #3f4551;
    margin-top: 10px;
}

.linePercentage::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #fec544;
    width: 0;
    transition: width 0.5s ease-in-out;
}
[data-percentage="95"]::before {
    width: 95%;
}

[data-percentage="75"]::before {
    width: 75%;
}

[data-percentage="90"]::before {
    width: 90%;
}

[data-percentage="85"]::before {
    width: 85%;
}

[data-percentage="80"]::before {
    width: 80%;
}



/* -------------------------------------- */


.ResumeSection{
    background-color: #030c16;
}





/* -------------------------------------- */

.portfolioSection{
    background-color: #101624;
}

.st-portfolio {
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.st-portfolio-item-hover i {
    border: 0.5px solid #3f4551;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fec544;
    color: #151b29;
    font-size: 26px;
    opacity: .8;
}

.st-portfolio .st-portfolio-img img {
    width: 100%;
}

.st-portfolio-item-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    z-index: 5;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.st-portfolio-item-hover i {
    border: 0.5px solid #3f4551;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fec544;
    color: #151b29;
    font-size: 26px;
    opacity: .8;
}

.st-portfolio-item-hover h5 {
    position: absolute;
    width: 250px;
    top: 87px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 20px;
    color: #fdfeff;
}

.st-portfolio-item-hover p {
    position: absolute;
    width: 250px;
    top: 114px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.fa-plus-circle:before {
    content: "\f055";
}

.st-portfolio::after {
    content: "";
    position: absolute;
    border: 1px solid #fdfeff;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.st-portfolio-btn {
    margin-bottom: 50px;
}


.st-btn.st-style1.st-color1 {
    background-color: #fec544;
    color: #070d1b;
    border-radius: 25px;
    padding: 15px 40px;
    margin-top: 26px;
    border: none;
    text-decoration: none;
}


/* -------------------------------------- */

.reviewsSection{
    background-color: #070d1b;
}

.reviewsBoxes{
    display: flex;
}

.reviewText{
    position: relative;
    background-color: rgb(16, 22, 36);
    margin-bottom: 40px;
    border-radius: 3px;
    transition: 0.4s;
    padding: 30px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(35, 41, 53);
    border-image: initial;
}

.reviewText p{
    text-align: center;
    margin-top: -6px;
    margin-bottom: -6px;
    position: relative;
    z-index: 1;
}

.reviewText::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%) rotate(45deg);
    border-style: solid;
    border-color: rgb(35, 41, 53);
    border-image: initial;
    border-width: 0px 1px 1px 0px;
    background: rgb(16, 22, 36);
    transition: 0.4s;
}

.st-testimonial.st-style1 .st-testimonial-info {
    align-items: center;
    text-align: center;
    margin-bottom: -4px;
}

.st-testimonial.st-style1 .st-testimonial-img {
    height: 90px;
    width: 90px;
    flex: 0 0 auto;
    border-radius: 50%;
    margin: auto auto 20px;
}

.st-testimonial.st-style1 .st-testimonial-name {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px;
    transition: 0.4s;
}

.st-testimonial.st-style1 .st-testimonial-designation {
    line-height: 1.3em;
}